{{- define "main" }}

<article class="post-single page-about">
  <header class="about-header">
    <div class="about-avatar-wrapper">
      <img src="/images/wp-uploads/2022/05/Lewwwk.png" alt="Michael Lewkowitz" class="about-avatar" />
    </div>
    <h1 class="about-title">{{ .Title }}</h1>
    <p class="about-tagline">More possibilian. Less dual. For a better future.</p>
  </header>

  {{- if .Content }}
  <div class="post-content about-content no-dropcap">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
  </footer>
</article>

{{- end }}{{/* end main */}}
